<div class="ep-spinner_div" data-loading >
    <div class="ep-spinner">
      <img src="assets/img/loader.gif"/>
    </div>
  </div>
<header>
    <div class="ek-slider">
      <div class="ek-logo_div">
        <div class="ek-logo"></div>
      </div>    
    </div>

    <nav>
      <div class="container">
        <span class="fa fa-bars" id="ek-res_menu" ng-click="showMenu = !showMenu"></span>
        <span id="ek-res_logo">EKO-PLAN</span>
        <ul class="ek-menu" ng-class="{true: 'showMenu'}[showMenu]">
          <li>
            <a href="#!/" data-hover="Početna">Početna</a>
          </li>
          <li class="ek-active">
            <a href="#!/prodavnica" data-hover="Prodavnica">Prodavnica</a>
            <ul>
              <li ng-repeat="category in $ctrl.categories">
                <a href="#!/prodavnica/{{category.id}}" data-hover="{{category.name}}">{{category.name}}</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#!/sibirski_limun" data-hover="Sibirski limun">Sibirski limun</a>
          </li>
          <li>
            <a href="#!/paulovnija" data-hover="Paulovnija">Paulovnija</a>
          </li>
          <li>
            <a href="#!/galanterija" data-hover="Galanterija">Galanterija</a>
          </li>
          <li>
            <a href="#!/kontakt" data-hover="Kontakt">Kontakt</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <content>
    <div class="container mt25">
      <div class="row plr15">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="txt_center" style="min-height:100px;">Uspešno ste naručili vaše sadnice, vaš paket biće poslat u najkraćem mogućem roku ! <br>Telefon za dodatna pitanja 0640163030,<br>Vaš RASADNIK EKO-PLAN.</h3>
          </div><!-- end col-sm-12-->
          <div class="col-sm-6 ek-checkout_info">
            <div>
              <label>Način isporuke:</label>
              <span>Dostava brzom poštom</span>
            </div>

            <div>
              <label>Način plaćanja:</label>
              <span>Plaćanje pouzećem</span>
            </div>
          </div><!-- end col-sm-6--> 
          <div class="col-sm-6 ek-checkout_info">
            <div class="ek-checkout_img" style="margin:5px 0 0 !important;"></div>
          </div><!-- end col-sm-6-->                                

        </div><!-- end row-->       

      </div><!-- end row-->

    </div><!-- end container-->
  </content>

  <footer>
    <div class="container">
      <div class="ek-footer_plant"></div>
      <div class="ek-footer_info">
        <h2>Informacije o prodavnici</h2>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Eko Plan, Barska 30 16000 Leskovac</p>
        <p><i class="fa fa-mobile" aria-hidden="true"></i></i> <a href="tel:0640163030">0640163030</a> -dipl.ing. zžs Marko Milošević <br><a href="tel:0606177778">0606177778</a> - Milan Milošević</p>
        <p><i class="fa fa-envelope" aria-hidden="true"></i> office@rasadnikekoplan.com </p>
      </div>
      <div class="ek-social_div">
        <a href="https://www.facebook.com/sadnice.belebreze/" class="ek-fb" target="_blank">
          <span class="fa fa-facebook"></span>
        </a>
        <a href="mailto:office@rasadnikekoplan.com?Subject=Poruka%20sa%20sajta" class="ek-mail">
          <span class="fa fa-envelope"></span>
        </a>          
      </div>
    </div>
  </footer>