<div class="ek-admin_header" data-ng-init="init()">
	<div class="ek-logo"></div>
	<div class="ek-admin_user_info">
		<i class="fa fa-user" aria-hidden="true"></i><br>
		<span>Marko Milosevic</span><br>
		<a href="#!/ekoplan_adminPanel" class="ek-cart_pay">LOGOUT</a>
	</div>
</div>
<div class="ek-admin_side_nav">
	<ul>
		<li class="mt0">
      <a href="#!/admin_porudzbine">Porudžbine (SRB)</a>
      <span class="ek-admin_notification">{{($ctrl.orders | filter: {seen: false} | filter: {order_state: 'srb'}).length}}</span>
    </li>
    <li>
      <a href="#!/admin_porudzbine_mkd">Porudžbine (MKD)</a>
      <span class="ek-admin_notification">{{($ctrl.orders | filter: {seen: false} | filter: {order_state: 'mkd'}).length}}</span>
    </li>
    <li class="ek-active">
      <a href="#!/admin_porudzbine_bih">Porudžbine (BIH)</a>
      <span class="ek-admin_notification">{{($ctrl.orders | filter: {seen: false} | filter: {order_state: 'bih'}).length}}</span>
    </li>
    <li>
      <a href="#!/admin_kategorije">Kategorije</a>
    </li>
    <li>
      <a href="#!/admin_proizvodi">Proizvodi</a>
    </li>
	</ul>
</div>
<content class="ek-admin_orders">
	<h2>Porudžbine (BIH)</h2>

  <button class="ek-cart_pay" data-toggle="modal" data-target="#orderModalADD">Dodaj novu porudžbenicu</button>

	<table class="table ek-checkout_table">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Ime i Prezime</th>
          <th>Adresa, Postanski br. i Grad</th>
          <th>Telefon</th>
          <th>Email</th>
          <th>Proizvodi</th>
          <th>Cena</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="order in orders" ng-if="order.order_state === 'bih'" ng-class="{true:'', false:'ek-order_seen'}[order.seen]">
          <td>{{order.created_time}}</td>
          <td>{{order.cust_name}} {{order.cust_lname}}</td>
          <td>{{order.cust_adress}}, {{order.cust_post}}, {{order.cust_city}}</td>
          <td>{{order.cust_phone}}</td>
          <td>{{order.cust_email}}</td>
          <td>
            <button class="btn btn-primary" ng-click="listOfOrders(order)"> Lista </button>
          </td>
          <td>{{order.price}},00 KM</td>
          <td style="width:5%;">
            <a href="">
              <i class="fa fa-remove" aria-hidden="true" ng-click="deleteOrder(order.id)"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
</content>

<div class="modal fade" id="orders" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Narudžbine</h4>
      </div>

      <div class="modal-body" ng-if="ordersForModal.length > 0">
        <table class="table">
          <thead class="thead-inverse">
            <th> Proizvod </th>
            <th> Količina </th>
          </thead>
          <tbody ng-repeat="order in ordersForModal">
            <td> {{order.name}} </td>
            <td> {{order.quantity}} </td>
          </tbody>
        </table>
        <br>
        <h3><p style="text-align:right"><b>UKUPNO: {{sum}} </b></p></h3>
      </div>

      <div class="modal-body" ng-if="ordersForModal.length === 0">
        <div>
          {{customText}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="orderModalADD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nova porudžbina BIH</h4>
      </div>

      <div class="modal-body">
        <form id="cust_info_form">
          <div class="form-group">
            <label for="cust_fname">Ime*</label>
            <input type="text" class="form-control" id="cust_fname" placeholder="Ime" ng-model="customer.name" required />
          </div>

          <div class="form-group">
            <label for="cust_lname">Prezime*</label>
            <input type="text" class="form-control" id="cust_lname" placeholder="Prezime" ng-model="customer.lastname" required />
          </div>

          <div class="form-group">
            <label for="cust_adress">Adresa*</label>
            <input type="text" class="form-control" id="cust_adress" placeholder="Adresa" ng-model="customer.address" required />
          </div>

          <div class="form-group">
            <label for="cust_post">Poštanski broj*</label>
            <input type="text" class="form-control" id="cust_post" placeholder="Poštanski broj" ng-model="customer.zip" required />
          </div>

          <div class="form-group">
            <label for="cust_city">Grad*</label>
            <input type="text" class="form-control" id="cust_city" placeholder="Grad" ng-model="customer.city" required />
          </div>

          <div class="form-group">
            <label for="cust_phone">Kontakt telefon*</label>
            <input type="tel" class="form-control" id="cust_phone" placeholder="Kontakt telefon" ng-model="customer.phone" required />
          </div>

          <div class="form-group">
            <label for="cust_email">Email*</label>
            <input type="email" class="form-control" id="cust_email" placeholder="Email" ng-model="customer.email" required />
          </div>

          <div class="form-group">
            <label for="cust_email">Datum porudžbine *</label>
            <input type="text" class="form-control" id="cust_email" placeholder="2018-06-26 (YYYY-MM-DD)"  ng-model="customer.datum_dospeca" id="datepicker" size="30" required>
          </div>

          <div class="form-group">
            <label for="cust_email">Tekst *</label>
            <textarea class="form-control" id="cust_text" placeholder="Text box" ng-model="customer.order_text" required></textarea>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="ek-cart_pay" data-dismiss="modal" style="float:left;background-color:#2d1604;">Zatvori</button>
        <button type="submit" class="ek-cart_pay" form="cust_info_form" ng-click="createOrders()">Napravi</button>
      </div>
    </div>
  </div>
</div>

